/*ProximaNova Font*/
@font-face{
	font-family: ProximaNova-Regular;
	src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face{
	font-family: ProximaNova-Bold;
	src: url("../fonts/proxima-nova/ProximaNova-Bold.otf") format("opentype");
}

@font-face{
	font-family: ProximaNova-Black;
	src: url("../fonts/proxima-nova/ProximaNova-Black.otf") format("opentype");
}

body{
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
}
p,span{
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
}

/*Main Bootstrap*/
.container-fluid {
    padding: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*Headings*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

/*Separators*/
hr.left-separator{
    border-top: 5px solid #fff;
    width: 155px;
    text-align: left;
    margin-left: 0;
}

/*Header navbar*/

.navbar-nav .nav-link {
    color: #FFFFFF;
    font:  16px/20px 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active{
    color:#937518;
}
.navbar.fixed-top{
    background-color:#0d1528;
}
.navbar.fixed-top.scrolled {
    background-color:#0d1528 !important;
    transition: background-color 200ms linear;
}

.navbar-toggler{
    border-color: #FFFFFF;
}
.navbar-toggler .fa-bars{
    color: #FFFFFF;
}

/*Sections and sections elements*/
.section-hero {
    margin-top: -60px;
}

.section-wrapper {
    padding: 50px;
}

.section-heading {
    text-align: center;
    margin-bottom: 30px;
}

/*.section-heading:after {
    border-top: 5px solid #FFFFFF;
    display: block;
    position: relative;
    top: 15px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 155px;
    height: 5px;
    content: "";
    margin-left: 0;
}*/

.section-subtitle {
    text-align: center;
}


#section-hero-home {
    height: 650px;
    align-items: center;
    background-color: #0d1528;
    background-image: url("../images/hero-home-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-hero-home .section-heading,
#section-hero-home .section-subtitle {
    color: #FFFFFF;
}

#section-leaders {
    background-color: #11203D;
}

#section-leaders .section-heading-left {
    color: #FFFFFF;
}

.leader-description {
    color: #A5AFC1;
}

/*Section Features*/
.feature-wrapper {
    padding: 15px;
    text-align: center;
}

.feature-img {
    width: 140px;
    margin-bottom: 20px;
}

/*Section services*/
.media-service {
    border: solid 1px #c1c1c1;
    margin-top: 20px;
    padding: 15px;
}

.media-service .media-body {
    padding: 0 20px;
}

.media-service-img {
    align-self: center !important;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.services-link {
    float: right;
}

/*Section action*/
#section-action {
    min-height: 400px;
    background-image: url("../images/background-section-action.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#section-action .section-heading-left {
    color: #A5AFC1;
}
#section-action .rw-sentence.section-heading-left {
    color: #FFFFFF;
}

#section-action .section-description{
    margin-top: 70px;
    color:#FFFFFF;
}


/*Sections action2*/
#section-action2{
    background-color: #0C1628;
}
#section-action2 .section-heading{
    color: #FFFFFF;
}
#section-action2 .section-description{
    color:#A5AFC1;
}

#section-social-networks{
    background-color: #172B51;
}

#section-social-networks p{
    text-align: center;
    color: #A5AFC1;
}
/*Buttons*/
.btn-action{
    background-color: #CD2434;
    color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 0px 7px 45px #00000029;
    text-transform: uppercase;
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}
.btn-action:hover,
.btn-action:focus{
    color: #FFFFFF;  
}
.btn-outline-secondary{
    border-color: #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    font: Bold 18px/36px Proxima Nova;
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus{
    background: none;
}
/*Footer*/
footer {
    margin-top: 50px;
    background-color: #11203d;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-heading {
    color: #384a6e;
}

.footer-link {
    color: #808b9f;
}

.footer-column {
    text-align: left;
}

.footer-social-networks {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-network-link {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1;
    display: inline-block;
    box-shadow: none;
}

.social-network-link svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    color: #11203d;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.footer-copyright {
    color: #FFFFFF;
}

/*Carousel*/
/* .show-neighbors .carousel-item{
    display: grid;
    grid-template-columns: 25% 48% 25%;
    column-gap: 1%;
} */


.show-neighbors {
    overflow: hidden;
}

.show-neighbors .carousel-indicators {
    margin-right: 25%;
    margin-left: 25%;
}

.show-neighbors .carousel-control-prev,
.show-neighbors .carousel-control-next {
    background: rgba(255, 255, 255, 0.3);
    width: 10%;
    z-index: 11;
}

.show-neighbors .carousel-inner {
    width: 150%;
    left: -25%;
}

.show-neighbors .item-third {
    float: left;
    position: relative;
    width: 33.33333333%;
    width: 32%;
}

.show-neighbors .neighbor-prev {
    margin-right: 2%;
}

.show-neighbors .neighbor-next {
    margin-left: 2%;
}

.show-neighbors .carousel-item-next:not(.carousel-item-left),
.show-neighbors .carousel-item-right.active {
    -webkit-transform: translate3d(33%, 0, 0);
    transform: translate3d(33%, 0, 0);
}

.show-neighbors .carousel-item-prev:not(.carousel-item-right),
.show-neighbors .carousel-item-left.active {
    -webkit-transform: translate3d(-33%, 0, 0);
    transform: translate3d(-33%, 0, 0);
}



/*Media queries*/

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 

}
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    .navbar.fixed-top{
        background: none;
        border: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
    
    .navbar-expand-md .navbar-nav .nav-link{
        padding-left: 20px;
        padding-right: 20px;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .navbar-expand-md .navbar-nav .nav-link{
        padding-left: 20px;
        padding-right: 20px;
    }
}