/*ProximaNova Font*/
@font-face{
	font-family: ProximaNova-Regular;
	src: url("../fonts/proxima-nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face{
	font-family: ProximaNova-Bold;
	src: url("../fonts/proxima-nova/ProximaNova-Bold.otf") format("opentype");
}
@font-face{
	font-family: ProximaNova-Medium;
	src: url("../fonts/proxima-nova/ProximaNova-Medium.ttf") format("opentype");
}

@font-face{
	font-family: ProximaNova-Black;
	src: url("../fonts/proxima-nova/ProximaNova-Black.otf") format("opentype");
}

/*Main html tags*/
body{
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
}
p,span{
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
}

a:hover,
a:focus{
    text-decoration: none;
}

/*Main Bootstrap*/
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*Headings*/
h1,h1>span,
h2,h2>span,
h3,h3>span,
h4,h4>span {
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}

h6,h6>span{
    font-family: 'ProximaNova-Medium', Arial, Helvetica, sans-serif;
}

h1,h1>span {
    font-size: calc(1.53125rem + 2.8125vw);
    min-width: 0vw;
    line-height: 1;
    margin-bottom: 0;
}
  
h2,h2>span {
    font-size: calc(1.4375rem + 1.875vw);
    min-width: 0vw;
    line-height: 1;
}
  
h3,h3>span {
    font-size: calc(1.375rem + 1.25vw);
    min-width: 0vw;
    margin-bottom: 0;
}
   
h4,h4>span {
    font-size: calc(1.3125rem + 0.625vw);
    min-width: 0vw;
    margin-bottom: 0;
}
  
h5,h5>span {
    font-size: calc(1.275rem + 0.25vw);
    min-width: 0vw;
    font-size: 24px;
}

h6,h6>span {
    font-size: 1.25rem;
}
  

/*Helpers */

/* Spacing */
.padding-50 {
    padding: 50px 0px;
}
.padding-150 {
    padding: 150px 0px;
}

/*Text colors*/
.text-blue{
    color:#172B51;
}
.text-blue2{
    color:#11203D;
}
.text-blue3{
    color: #0C1628;
}

.text-light-blue{
    color: #A5AFC1;
}
.font-black{
    font-family: 'ProximaNova-Black', Arial, Helvetica, sans-serif;
}

/* Borders*/
.border-bottom-blue:after{
    border-top: 5px solid #172B51;
    display: block;
    position: relative;
    top: 15px;
    bottom: 0;
    width: 11vw;
    margin-bottom:50px;
    content: "";
}
.heading-border-left {
    border-left: solid 5px #172B51;
    padding: 5px 25px;
    color: #172B51;
}


/*Separators*/
hr.left-separator{
    border-top: 5px solid #ffffff;
    width: 11vw;
    margin-left: 0;
}
hr.separator-blue{
    border-top: 5px solid #172B51;
    width: 11vw;
}
hr.separator-blue2{
    border-top: 5px solid #11203D;
    width: 11vw;
}
hr.separator-white{
    border-top: 5px solid #ffffff;
    width: 11vw;
}

/*Decors*/
.decor{
    position: absolute;
}

.decor-blur{
    display: none;
}

/*Navbar*/
.navbar-nav .nav-link {
    color: #FFFFFF;
    font:  1rem 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
}

.navbar-nav .nav-link.active{
    color:#937518;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus{
    color: #c39b20;
}

.navbar.fixed-top{
    background-color:#0d1528;
}
.navbar.fixed-top.scrolled {
    background-color:#0d1528 !important;
    transition: background-color 200ms linear;
}
.navbar-nav{
    align-items: center;
}
.navbar-brand img{
    width: 200px;
}

.navbar-toggler{
    border-color: #FFFFFF;
}
.navbar-toggler .fa-bars{
    color: #FFFFFF;
}


/*Buttons*/
.btn{
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}
.btn-action,
.btn-action-outline{
    border-radius: 7px;
    text-transform: uppercase;
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif !important;
}
.btn-action{
    background-color: #CD2434;
    color: #FFFFFF !important;
    box-shadow: 0px 7px 45px #00000029;
}
.btn-action:hover,
.btn-action:focus{
    color: #FFFFFF;  
}
.btn-action-outline{
    background:none;
    border: 2px solid #CD2434;
    color: #CD2434;
}
.btn-action-outline:hover,
.btn-action-outline:focus{
    background:#CD2434;
    border: 2px solid #CD2434;
    color: #ffffff;
}
.btn-outline-secondary{
    border-color: #FFFFFF;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus{
    background: none;
}

/*Links*/
.link-default{
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
    color: #614D10;
    margin-top: 50px;
}
.link-default:hover,
.link-default:focus{
    color: #c39b20;
}
.link-default:after{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f061";
}
/*Media*/
.media {
    display: block;
    text-align: center;
    background-color: #fff;
    border: solid 1px #c1c1c1;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.media .media-body {
    padding: 0 20px;
    color:#172B51;
    margin-top: 20px;
}

.media-img {
    align-self: center !important;
    width: 60px;
    height: 60px;
}

/*Footer*/
footer {
    background-color: #11203d;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    overflow: hidden;
}

footer .grid-container{
    position: relative;
}

.footer-heading {
    color: #384a6e;
}

.footer-link {
    color: #808b9f;
}
.footer-link:hover,
.footer-link:focus {
    color: #ffffff;
}

.footer-column {
    text-align: center;
}

.footer-social-networks {
    column-gap: 1%;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.social-network-link {
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: .5em;
    text-align: center;
    line-height: 1;
    display: inline-block;
    box-shadow: none;
    opacity: 0.8;
}
.social-network-link:hover,
.social-network-link:focus{
    opacity: 1;
}
.social-network-link:not(:last-child){
    margin-right: 20px;
}

.social-network-link i, 
.social-network-link svg {
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
    color: #11203d;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.footer-copyright {
    color: #4A5E84;
}

.footer-logo{
    position: absolute;
    bottom: 0;
    left: -25%;
    width: 100%;
}

/*Tabs*/
.tabs-container {
    display: grid;
    grid-template-columns: 25% 75%;
}
.tabs-container > ul.nav.nav-tabs{
    display: flex;
    flex-direction: column;
}

.nav-tabs .nav-item {
    width: 100%;
}


/*Responsive*/

 /* Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 

}
 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    .navbar.fixed-top{
        background: none;
        border: none;
    }
    .navbar-nav .nav-link{
        font-size: 0.7rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /*Decor*/
    .decor-blur{
        display: initial;
        position:absolute
    }
    
    /*navbar*/
    .navbar.fixed-top{
        padding-left: 60px;
        padding-right: 60px;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-nav .nav-link{
        font-size: 1rem; 
    }
    /*Footer*/
    .footer-column {
        text-align: left;
    }
    .footer-logo{
        left: -30%;
        top: 30px;
        height: 100%;
    }
    footer .social-network-link:not(:last-child){
        margin-right: 15px;
    }
    
    /*Media*/
    .media {
        display: flex;
        align-items: center;
        text-align: left;
        padding: 20px 25px;
    }
    .media-img {
        width: 90px;
        height: 90px;
    }
    .media-body{
        margin-top: 0;
    }
    
    /*Tabs*/
    .tabs-container{
        display: block;
    }
    .tabs-container > ul.nav.nav-tabs {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .tabs-container > ul.nav.nav-tabs > li {
        float: none;
        display: table-cell;
    }
    .tabs-container > ul.nav.nav-tabs > li > a {
        text-align: center;
    }
    .tabs-container .nav-link{
        border-top: 0;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /*Navbar*/
    .navbar-expand-md .navbar-nav .nav-link{
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-brand img{
        width: auto;
    }
    .footer-logo{
        left: -40%;
    }
    footer .social-network-link:not(:last-child){
        margin-right: 15px;
    }
}

@media (min-width: 1440px) {
    /*Headings*/
    h1,h1>span{
      font-size: 4.0625rem;
    }
    h2,h2>span{
        font-size: 3.125rem;
    }
    h3,h3>span{
        font-size: 2.5rem;
    }
    h4,h4>span{
        font-size: 1.875rem;
    }
    h5,h5>span{
        font-size: 1.5rem;
    }
}