/*Grid system*/
.grid-container{
    display: grid;
    row-gap: 30px ;
    padding-left: 15px;
    padding-right: 15px;
    grid-template-columns: 1fr;
}

.columns-q2{
    grid-column-start: span 2;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
    .grid-md-c2{
        grid-template-columns: repeat(2,minmax(200px, 1fr));
        column-gap: 50px;
    }
    .grid-md-c3{
        grid-template-columns: repeat(3,minmax(200px, 1fr));
        column-gap: 30px;
    }
    .grid-md-c4{
        grid-template-columns: repeat(4,minmax(24.25%, 1fr));
        column-gap: 1%; 
    }
    .grid-md-c5{
        grid-template-columns: repeat(5,minmax(19.2%, 1fr));
        column-gap: 1%;
    }
    .grid-md-c6{
        grid-template-columns: repeat(6,minmax(15.8333%, 1fr)); 
        column-gap: 1%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .grid-lg-c2{
        grid-template-columns: repeat(2,minmax(49.5%, 1fr));
        column-gap: 1%;
    }
    .grid-lg-c3{
        grid-template-columns: repeat(3,minmax(32.6666666667%, 1fr));
        column-gap: 1%;
    }
    .grid-lg-c4{
        grid-template-columns: repeat(4,minmax(24.25%, 1fr));
        column-gap: 1%; 
    }
    .grid-lg-c5{
        grid-template-columns: repeat(5,minmax(19.2%, 1fr));
        column-gap: 1%;
    }
    .grid-lg-c6{
        grid-template-columns: repeat(6,minmax(15.8333%, 1fr)); 
        column-gap: 1%;
    }
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .grid-xl-c2{
        grid-template-columns: repeat(2,minmax(49.5%, 1fr));
        column-gap: 1%;
    }
    .grid-xl-c3{
        grid-template-columns: repeat(3,minmax(32.6666666667%, 1fr));
        column-gap: 1%;
    }
    .grid-xl-c4{
        grid-template-columns: repeat(4,minmax(24.25%, 1fr));
        column-gap: 1%; 
    }
    .grid-xl-c5{
        grid-template-columns: repeat(5,minmax(19.2%, 1fr));
        column-gap: 1%;
    }
    .grid-xl-c6{
        grid-template-columns: repeat(6,minmax(15.8333%, 1fr)); 
       
    }

    .offset-xl-c1{
        grid-column-start: 2;
    }
    
    .offset-xl-c2{
        grid-column-start: 3;
    }
    
}