/* **************Helpers************** */
.z-index-1 {
    z-index: 1;
}
.z-index-2 {
    z-index: 2;
}
.z-index-3 {
    z-index: 3;
}
.z-index-4 {
    z-index: 4;
}
.z-index-5 {
    z-index: 5;
}

/* **************Sections home************** */
.section-hero {
    background-color: #0C1628;
}

.section-subtitle {
    text-align: center;
}

.section-heading-border-left {
    border-left: solid 5px #1D3665;
    padding: 5px 25px;
    color: #11203D;
}

.heading-border-bottom-left:after {
    border-top: 5px solid #FFFFFF;
    display: block;
    position: relative;
    top: 15px;
    bottom: 0;
    left: 0;
    width: 155px;
    height: 5px;
    content: "";
    margin-bottom: 50px;
}


.border-bottom-white:after {
    border-top: 5px solid #ffffff;
    display: block;
    position: relative;
    bottom: 0;
    width: 11vw;
    margin-bottom: 4.4vh;
    content: "";
}

#section-hero-home {
    display: flex;
    align-items: flex-end;
    background-color: #0d1528;
    padding: 190px 0 90px 0;
    overflow: hidden;
}

.hero-tile-small,
.hero-tile-big  {
    font-family: 'ProximaNova-Black', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    fill: white;
    font-weight: 900;
}
text.hero-tile-small {
    font-size: 30%;
}
text.hero-tile-big {
    font-size: 100%;
}

#section-hero-home .section-hero-title {
    color: #FFFFFF;
    font-family: 'ProximaNova-Medium', Arial, Helvetica, sans-serif;
    font-size: 3.6vw;
    padding-left: 3.3vw;
}

#section-hero-home .section-hero-title span {
    padding: 0;
}

#section-hero-home .section-hero-subtitle {
    color: #FFFFFF;
    font-family: 'ProximaNova-Medium', Arial, Helvetica, sans-serif;
    font-style: italic;
}

#section-hero-home .hero-subtitle-wrapper {
    padding-left: 3.3vw;
}

#section-hero-home .heading-border-bottom-left:after {
    left: 3.3vw;
    width: 11vw;
    margin-bottom: 4.4vh;
}

.hero-decor-circle {
    position: absolute;
    top: -220px;
    left: -260px;
    width: 730px;
    height: 730px;
}
.hero-decor-arrow {
    position: absolute;
    top: 130px;
    right: 30px;
    filter: blur(11px);
    width: 220px;
}

.hero-decor-waves {
    position: absolute;
    right: 0;
    bottom: 150px;
}

.hero-home-overlay-image {
    position: absolute;
    left: 0;
    right: -70px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    bottom: 0px;
    width: 90%;
}

.hero-subtitle-wrapper {
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 4.4vh;
}

#section-hero-home .grid-container {
    /* padding: 200px 16% 0px 14%; */
    row-gap: 0;
}
#section-hero-home  .heading-border-bottom-left {
    position: relative;
    z-index: 2;
    margin-top: 4vh;
}

#section-hero-home .btn-action-outline {
    margin-top: 4vh;
}

@media (max-width: 575.98px) {
    #section-hero-home {
        padding-bottom: 30px;
    }
    .section-hero {
        min-height: 620px;
    }
    .hero-home-overlay-image{
        width: 700px;
        left: -140px;
        bottom: 50px;
    }   
    .hero-decor-circle {
        top: -330px;
        left: -300px;
    }
}
@media (min-width: 736px) and (max-width: 767px) {
    .hero-home-overlay-image{
        width: 700px;
        bottom: 50px;
    }   
    .section-hero {
        min-height: 550px;
    }
    .hero-decor-circle{
        top: -420px;
    }
}
@media (min-width: 768px) {
    .section-hero {
        min-height: 720px;
    }
    .hero-home-overlay-image{
        width: 920px;
        left: -50px;
    }   
    .hero-decor-circle{
        top: -420px;
    }
}
@media (min-width: 992px) {
    .section-hero {
        min-height: 720px;
    }
    .hero-home-overlay-image{
        width: 100%;
        left: -50px;
    }   
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .hero-home-overlay-image, .pg-node-id-30 {
        width: 600px;
        left: -85px;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .hero-home-overlay-image, .pg-node-id-30 {
        width: 650px;
        left: -60px;
        bottom: 60px;
    }

}
/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .hero-home-overlay-image{
        width: 620px;
        left: -100px;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .hero-home-overlay-image{
        width: 1100px;
        left: -50px;
    }   
}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Section Features */

#section-features {
    background-color: #ECEEF2;
    position: relative;
}

#section-features .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    column-gap: 30px;
    position: relative;
    z-index: 9;
    padding-left: 30px;
    margin-top: 70px;
}

#section-features .grid-column {
    background-color: #FFFFFF;
    border: 1px solid rgba(165, 175, 193, 0.33);
    border-radius: 5px;
}

.feature-wrapper {
    padding: 15px;
    text-align: center;
}

.feature-img {
    width: 140px;
    margin-bottom: 20px;
}

.feature-title {
    color: #0C1628;
    font-family: 'ProximaNova-Black', Arial, Helvetica, sans-serif;
}

.feature-description {
    color: #454545;
    opacity: 0.5;
}

#section-features .decor-top-left {
    width: 200px;
    top: -80px;
    left: -80px;
    filter: blur(11px);
}
#section-features .decor-bottom-right {
    position: absolute;
    bottom: 0;
    right: -300px;
    width: 767px;
    height: auto;
}

/* Section leaders */
#section-leaders {
    background-color: #11203D;
    padding-bottom: 0;
}

#section-leaders .section-title-left,
#section-leaders .section-subtitle-left {
    color: #FFFFFF;
}

#section-leaders #slider-wrapper>.team-slider{
    position: relative;
}
#section-leaders #slider-wrapper>.slider-navs{
    position: absolute;
    z-index: 999;
    bottom: 90px;
}

.leader-description {
    color: #A5AFC1;
}
.team-slider.slider{
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 20px;
}
.team-slider .slide-item{
    transition: opacity .15s linear;
}
.slider-navs{
    display: flex;
    justify-content: center;
}
.slide-nav:hover{
    cursor: pointer;
}
.slide-item:not(.active){
    display: none;
    opacity: 0;
}
.team-slider .slide-nav {
    min-height: 180px;
    max-height: 180px;
    width: 160px !important;
    max-width: 160px !important;
    margin-left: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: bottom;
    display: flex !important;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    border-radius: none;
    position: relative;
    border-radius: 5px;
}

.team-slider .slide-nav.active {
    border-top: 5px #614D10 solid;
}

.team-slider .slide-nav:first-child {
    background-image: url("../images/leader-1.jpg");
}

.team-slider .slide-nav:nth-child(2) {
    background-image: url("../images/leader-2.jpg");
}

.team-slider .slide-nav:nth-child(3) {
    background-image: url("../images/leader-3.jpg");
}

.slide-overlay {
    width: 100%;
    height: 45%;
    position: absolute;
    top: 55%;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(29, 54, 101, 0), rgba(29, 54, 101, 0.9));
}

.slide-text {
    position: relative;
}

.slide-text h5 {
    margin-bottom: 0;
    font: 16px/20px 'ProximaNova-Black', Arial, Helvetica, sans-serif;
}

.slide-text p {
    line-height: 1;
}

/* Section steps */
#section-steps .grid-container {
    margin-top: 100px;
    margin-bottom: 70px;
}

#section-steps .section-title,
#section-steps .section-subtitle {
    color: #172B51;
}

#section-steps .card:hover{
    box-shadow: 0px 7px 75px #1D36654D;
}

#section-steps .card-title {
    color: #11203D;
}

#section-steps .card-text {
    color: #454545;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #172B51;
    color: #ffffff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    margin-top: -35px;
    margin-left: 40%;
    font: 70px 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}

/* Section testimonials */
#section-testimonials {
    background-color: #ECEEF2;
    padding-bottom: 0;
}

.deco-top-right {
    position: absolute;
    top: -65px;
    right: -55px;
    height: 150px;
}

#section-testimonials .section-title-left {
    color: #11203D;
}
#section-testimonials .owl-carousel{
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}
#section-testimonials .owl-carousel-item{
    position: relative;
}

#section-testimonials .owl-carousel-item:before{
    position: absolute;
    content: "";
    z-index: 0;
}
#section-testimonials .owl-carousel-img{
    display: none;
}
#section-testimonials .owl-carousel-description{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #11203D;
    text-align: center;
    font-size: 12px;
    font-family: 'ProximaNova-Medium', Arial, Helvetica, sans-serif;
    margin-top: -10px;
    padding: 50px 20px;
}
#section-testimonials .owl-carousel-description>blockquote{
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    opacity: 0.9;
    margin-bottom: 5px;
}

#section-testimonials .owl-carousel-description>cite{
    color: #A5AFC1;
}
#section-testimonials .owl-carousel>.owl-nav>button>svg{
    font-size: 20px;
    color: #11203D;
}
#section-testimonials .owl-nav{
    text-align: center;
}
#section-testimonials .owl-nav>button{
    padding: 5px 20px !important;
}

/* Section services */
#section-services {
    background-color: #ECEEF2;
    padding-top: 80px;
}

#section-services .link-default{
    float: right;
}

#section-services .decor.decor-top-left {
    width: 170px;
    height: 170px;
    top: -170px;
    left: -70px;
    filter: blur(12px);
    z-index: 2;
}
#section-services .media{
    position: relative;
}
/*#section-services .media:before{
    position: absolute;
    top: -30px;
    left: -30px;
    width: 110px;
    content: url(/assets/images/decor/decor-circle-s.svg);
    z-index: 0;
}*/
#section-services .media-img{
    position: relative;
}
/* Section action */
#section-action {
    min-height: 400px;
    background-image: url("../images/background-section-action.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#section-action .section-title-left {
    color: #A5AFC1;
}

#section-action .rw-sentence.section-title-left {
    color: #FFFFFF;
}

#section-action .section-description {
    margin-top: 70px;
    color: #A5AFC1;
}

#section-action .decor-top-right {
    position: absolute;
    top: -150px;
    right: 0;
    filter: blur(11px);
}


/* Responsive */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #section-testimonials .owl-carousel-item:before{
        height: 100%;
        width: 80%;
        top: 0;
        background: transparent linear-gradient(90deg, #11203D00 0%, #11203D80 37%, #11203D 71%, #11203D 100%) 0% 0% no-repeat padding-box;
    }
    #section-testimonials .owl-carousel-img{
        display: block;
    }
    #section-testimonials .owl-carousel-description{
        position: absolute;
        width: 70%;
        top: 20%;
        left: 20%;
        font-size: 16px;
        background-color: transparent;
        margin-top: 0;
        padding: 10px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #section-testimonials .owl-carousel{
        padding-left: 0;
        padding-right: 0;
    }

    #section-action .section-description {
        width: 40%;
    }
    #section-testimonials .owl-carousel-item:before{
        width: 40%;
        left: 20%;
    }
    #section-testimonials .owl-carousel-description{
        top: 80%;
        left: 25%;
        width: 80%;
        padding: 0 70px;
        margin-top: -180px;
        font-size: 1rem;
    }
    #section-testimonials .owl-carousel-description>blockquote{
        margin-bottom: 25px;
    }
    #section-testimonials .owl-carousel-description>blockquote:before{
        position: absolute;
        top: -30px;
        left: -30px;
        width: 110px;
        content: url(/assets/images/decor/decor-quote-blue.svg);
        z-index: -1;
    }
    /*Section leaders*/
    #section-leaders #slider-wrapper{
        position: absolute;
        bottom: 110px;
    }
    #section-leaders #description-wrapper,
    #section-leaders .section-heading{
        padding-left: 60px;
        /*padding-top: 90px;*/
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #section-testimonials .owl-carousel-description{
        top: 60%;
        left: 30%;
        width: 60%;
        font-size: 1.25rem;
    }
}

/* 
 * Refactoring 
 */

/* Section */
.c-brands--simple {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}